name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
    
    - name: Install dependencies
      run: | 
        dotnet restore ./Neo4jClient.DataAnnotations/Neo4jClient.DataAnnotations.csproj
        dotnet restore ./Neo4jClient.DataAnnotations.Tests/Neo4jClient.DataAnnotations.Tests.csproj
    
    - name: Build
      run: |
        dotnet build ./Neo4jClient.DataAnnotations/Neo4jClient.DataAnnotations.csproj --configuration Release --no-restore --framework netstandard2.0
        dotnet build ./Neo4jClient.DataAnnotations.Tests/Neo4jClient.DataAnnotations.Tests.csproj --configuration Release --no-restore
    
    - name: Test
      run: dotnet test ./Neo4jClient.DataAnnotations.Tests/Neo4jClient.DataAnnotations.Tests.csproj --configuration Release --no-build --no-restore --verbosity normal
      
    - name: Publish on Version Change
      id: publish_nuget
      uses: rohith/publish-nuget@v2
      with:
        # Filepath of the project to be packaged, relative to root of repository
        PROJECT_FILE_PATH: Neo4jClient.DataAnnotations/Neo4jClient.DataAnnotations.csproj

        # NuGet package id, used for version detection & defaults to project name
        PACKAGE_NAME: Neo4jClient.DataAnnotations

        # Filepath with version info, relative to root of repository & defaults to PROJECT_FILE_PATH
        # VERSION_FILE_PATH: Directory.Build.props

        # Regex pattern to extract version info in a capturing group
        VERSION_REGEX: ^\s*<Version>(.*)<\/Version>\s*$

        # Useful with external providers like Nerdbank.GitVersioning, ignores VERSION_FILE_PATH & VERSION_REGEX
        # VERSION_STATIC: 1.0.0

        # Flag to toggle git tagging, enabled by default
        # TAG_COMMIT: true

        # Format of the git tag, [*] gets replaced with actual version
        # TAG_FORMAT: v*

        # API key to authenticate with NuGet server
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}

        # NuGet server uri hosting the packages, defaults to https://api.nuget.org
        # NUGET_SOURCE: https://api.nuget.org

        # Flag to toggle pushing symbols along with nuget package to the server, disabled by default
        # INCLUDE_SYMBOLS: false
